{% extends "bursary/index.html" %}

{% block main-content %}
<section class="wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa-file-text-o"></i> Applicant details</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
        <li><i class="icon_document_alt"></i>Forms</li>
        <li><i class="fa fa-file-text-o"></i>Applicant form</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">

        <header class="panel-heading">
          Applicant details
        </header>
        <div class="panel-body">
          <form action="../" method="POST">
            <div class="form-horizontal " method="get">
              <div class="form-group">
                <div class="col-sm-10">
                  <span class="help-block">All fields with * are required fields.</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">First Name *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter first name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Middle Name *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter middle name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Last Name *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter last name">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2">Date of birth *</label>
                <div class="col-sm-10">
                  <input id="dp2" type="text" value="" size="16" class="form-control round-input"
                    placeholder="enter date of birth">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Age *</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control round-input" placeholder="enter age">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Gender *</label>
                <div class="col-sm-10">
                  <select class="form-control input-lg m-bot15 round-input">
                    <option value=""></option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Parent/ Guardian</label>
                <div class="col-sm-10">
                  <select class="form-control input-lg m-bot15 round-input">
                    <option value=""></option>
                    <option value="Guardian">Guardian</option>
                    <option value="Mother">Mother</option>
                    <option value="Father">Father</option>
                  </select>
                </div>
              </div>
              <!-- parents details -->
              <div class="form-group">
                <div class="col-sm-10">
                  <span class="help-block">Parents/guardian details.</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">First Name *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter first name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Middle Name *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter middle name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Last Name *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter last name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Id no. *</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control round-input" placeholder="enter id number">
                </div>
              </div>
              <!-- tertiary institution details -->
              <div class="form-group">
                <div class="col-sm-10">
                  <span class="help-block">School details.</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Account number *</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-input" placeholder="enter school bank account number">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Education level *</label>
                <div class="col-sm-10">
                  <select class="form-control input-lg m-bot15 round-input" onchange="displayTertiaryApplication()"
                    id="education-level">
                    <option value=""></option>
                    <option value="Tertiary">Tertiary</option>
                    <option value="Secondary">Secondary</option>
                  </select>
                </div>
              </div>
              <div class="tertiary">

                <div class="form-group">
                  <label class="col-sm-2 control-label">Id number *</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control round-input tertiary" placeholder="enter Id number">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile" class="col-sm-2 control-label">Scanned id *</label>
                  <div class="col-sm-10">
                    <input type="file" id="exampleInputFile" class="form-control round-input tertiary">
                    <p class="help-block">Please upload a scanned copy of the original id card.</p>
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Institution type *</label>
                  <div class="col-sm-10">
                    <select class="form-control input-lg m-bot15 round-input">
                      <option value=""></option>
                      <option value="Guardian">College</option>
                      <option value="Mother">University</option>
                      <option value="Father">Technical</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Institution name *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input tertiary" placeholder="enter institution name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Located in *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input tertiary"
                      placeholder="enter institution location">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Course name *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input tertiary" placeholder="enter course name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Course duration *</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control round-input tertiary" placeholder="enter course duration">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Year of study *</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control round-input tertiary" placeholder="enter year of study">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Expected date of completion *</label>
                  <div class="col-sm-10">
                    <input id="dp1" type="text" value="" size="16" class="form-control round-input"
                      placeholder="enter expected date of completion">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Registration number *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input tertiary"
                      placeholder="enter Registration number">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Phone number</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input tertiary" placeholder="enter phone number">
                    <span class="helper-block">This may be used to inform applicant when the bursary is out/ open
                      for
                      application again</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email </label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control round-input tertiary" placeholder="enter email">
                    <span class="helper-block">This may be used to inform applicant when local opportunities
                      arise</span>
                  </div>
                </div>
              </div>
              <div class="secondary">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Admission number *</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control round-input tertiary" placeholder="enter admission number">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Form *</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control round-input tertiary" placeholder="enter form">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Term </label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control round-input tertiary" placeholder="enter term">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">School Name *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control round-input tertiary" placeholder="enter school name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Institution type *</label>
                  <div class="col-sm-10">
                    <select class="form-control input-lg m-bot15 round-input">
                      <option value=""></option>
                      <option value="Guardian">Private, National </option>
                      <option value="Guardian">Private, County </option>
                      <option value="Mother">Public, National</option>
                      <option value="Guardian">Public, County </option>
                    </select>
                  </div>
                </div>
              </div>
              <input type="submit" value="Submit">
          </form>
        </div>
      </section>

    </div>
  </div>



  <!-- page end-->
</section>
{% endblock %}